<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='home.css') }}/>
        <title>Home</title>
    </head>
    <body>
        <header>
            <h1 id="header"> Are you being rickrolled? Come find out! </h1>
        </header>        
        <h1 id="heading"> Is this a Rick Roll? </h1>
        <form action='/rr_check' method="post">
            <label id='urltext' for="url">Enter a URL:</label><br>
            <input id='url' type="text" id="url" name="url"><br>
            <input id='button' type="submit" value="Submit">
        </form>
        <p id='text'>{{text}}</p>
        <img id='img' src="static/rickroll.gif" width="220" height="391"></img>
    </body>
</html>

